apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: all-applications
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
  - git:
      repoURL: https://github.com/vabalops/home-server.git
      revision: main
      directories:
      - path: argocd-live/applications/*/envs/home
  template:      
    metadata:
      name: '{{index .path.segments 2}}' 
    spec:
      project: default
      source:
        repoURL: https://github.com/vabalops/home-server.git
        targetRevision: main
        path: '{{.path.path}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{index .path.segments 2}}'
      syncPolicy:
        syncOptions:
          - ServerSideApply=true
        automated:
          prune: true
          selfHeal: true
