# kubectl -n pihole create secret generic pihole-admin --from-literal='password=[THE SUPER SECRET PASSWORD]'

# helm repo add mojo2600 https://mojo2600.github.io/pihole-kubernetes/
# helm repo update
# helm install pihole mojo2600/pihole --version 2.35.0 --namespace pihole --create-namespace --values values-pihole.yaml
# helm upgrade pihole mojo2600/pihole --namespace pihole --values ./values-pihole.yaml

# TODO: Find a way to show source host IP address instead of envoy proxy IP in pihole logs and web interface

serviceDns:
  type: ClusterIP
  mixedService: true

serviceWeb:
  type: ClusterIP

admin:
  existingSecret: "pihole-admin"
  passwordKey: "password"

serviceDhcp:
  enabled: false

DNS1: 1.1.1.1
DNS2: 8.8.8.8

resources:
  limits:
   cpu: 200m
   memory: 256Mi
  requests:
   cpu: 100m
   memory: 128Mi

persistentVolumeClaim:
  enabled: true
  accessModes:
    - ReadWriteOnce
  size: "500Mi"

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: node-role.kubernetes.io/control-plane
              operator: DoesNotExist

adlists:
  - https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/adblock/nsfw.txt
  - https://raw.githubusercontent.com/PolishFiltersTeam/KADhosts/master/KADhosts.txt
  - https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Spam/hosts
  - https://v.firebog.net/hosts/static/w3kbl.txt
  - https://adaway.org/hosts.txt
  - https://v.firebog.net/hosts/AdguardDNS.txt
  - https://v.firebog.net/hosts/Admiral.txt
  - https://raw.githubusercontent.com/anudeepND/blacklist/master/adservers.txt
  - https://v.firebog.net/hosts/Easylist.txt
  - https://pgl.yoyo.org/adservers/serverlist.php?hostformat=hosts&showintro=0&mimetype=plaintext
  - https://raw.githubusercontent.com/FadeMind/hosts.extras/master/UncheckyAds/hosts
  - https://raw.githubusercontent.com/bigdargon/hostsVN/master/hosts
  - https://v.firebog.net/hosts/Easyprivacy.txt
  - https://v.firebog.net/hosts/Prigent-Ads.txt
  - https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.2o7Net/hosts
  - https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/hosts/spy.txt
  - https://hostfiles.frogeye.fr/firstparty-trackers-hosts.txt
  - https://raw.githubusercontent.com/DandelionSprout/adfilt/master/Alternate%20versions%20Anti-Malware%20List/AntiMalwareHosts.txt
  - https://v.firebog.net/hosts/Prigent-Crypto.txt
  - https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Risk/hosts
  - https://phishing.army/download/phishing_army_blocklist_extended.txt
  - https://gitlab.com/quidsup/notrack-blocklists/raw/master/notrack-malware.txt
  - https://raw.githubusercontent.com/Spam404/lists/master/main-blacklist.txt
  - https://raw.githubusercontent.com/AssoEchap/stalkerware-indicators/master/generated/hosts
  - https://urlhaus.abuse.ch/downloads/hostfile/
  - https://lists.cyberhost.uk/malware.txt

regex:
  - (^|\.)4chan\.org$

podDnsConfig:
  enabled: true
  policy: "None"
  nameservers:
    - 127.0.0.1
    - 1.1.1.1
